.dpdpoland-pudo-open-map-btn {
    margin-left: 5px;
    font-weight: normal;
    text-transform: none;
}

.dpdpoland-pudo-change-map-btn{
    margin-right:15px;
    font-weight: normal;
    text-transform: none;
}

.dpdpoland-pudo-cod-new-point, .dpdpoland-pudo-new-point, .dpdpoland-pudo-selected-point p, .dpdpoland-pudo-cod-selected-point p{
    padding: 0 0 0 15px;
}

.dpdpoland-pudo-cod-open-map-btn {
    margin-left: 5px;
    font-weight: normal;
    text-transform: none;
}

.dpdpoland-pudo-cod-change-map-btn{
    margin-right:15px;
    font-weight: normal;
    text-transform: none;
}