.dpdpoland-pudo-container {
    padding: 0 0 15px 0;
}

.dpdpoland-pudo-container span, .dpdpoland-pudo-cod-container span {
    color: #464646;
}

@media (min-width: 1299px) {
    .modal-dpd-xl {
        max-width: 1200px;
    }
}

.modal-dpd-body {
    padding: 5px 5px 0 5px;
}

.modal-dpd-content {
    padding: 0 !important;
    margin: 0;
}

.modal-dpd-footer {
    padding: 5px;
}

.dpdpoland-pudo-cod-container {
    padding: 0 0 15px 0;
}
